* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
    background-color:blueviolet;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  header, main, footer {
    padding: 20px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    width: 600px;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
  }
  

.input {
    margin-bottom: 50px; 
    color:black;
}

.action-btn {
    background-color: lightblue; 
    color:black;
    padding: 10px 20px; 
    margin-right: 10px;
    margin-bottom: 50px; 
}

.result-box{
    margin-left: 50px; 
    color:black;
}
